[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/themes/book"]
	path = site/themes/book
	url = https://github.com/alex-shpak/hugo-book
